/*
Click nbfs://nbhost/SystemFileSystem/Templates/Licenses/license-default.txt to change this license
Click nbfs://nbhost/SystemFileSystem/Templates/Other/CascadeStyleSheet.css to edit this template
*/
/* 
    Created on : 27 may 2023, 20:23:21
    Author     : bland
*/

.button{
    
    -fx-background-color:#90ee90; 
    -fx-border-width: 1px;
    -fx-border-radius: 15px;
    -fx-border-color:black;
    -fx-text-fill:black;  
    -fx-background-radius: 15px;
}

.label{
    -fx-text-fill:#228b22; 
    -fx-font-weight: bold; 
}

.choice-box{
    
    -fx-border-width: 1px;
    -fx-border-radius: 2px;
   
    -fx-text-fill:black;  
    -fx-background-radius: 2px;
}

.check-box{
    -fx-text-fill:#228b22; 
    -fx-font-weight: bold; 
}

#choice{
    -fx-text-fill:black; 
   
}